.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  cursor: pointer;
  border: 0;
}

.container img {
  width: 15px;
  margin: 0 1rem;
}

.container a {
  background: var(--accent-color);
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.5rem 1.5rem;
}

.container:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
