.container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.container > * {
  flex: 1;
  max-width: 600px;
}

.container h1 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.heading {
  margin-bottom: 1.5rem;
  color: var(--accent-color);
  font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .container {
    display: block;
    padding: 2rem 1rem;
  }

  .container > div:first-child {
    border-right: none;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .flex {
    display: block;
  }

  .form input {
    font-size: 0.85rem;
  }

  .container {
    padding: 1.5rem 0.75rem;
  }

  .heading {
    font-size: 1.4rem;
  }
}
