@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

/* Tags */
.react {
  border: 0.1rem solid rgb(97, 218, 251);
}
.react:hover {
  background: rgba(97, 218, 251, 0.25);
}

.axios {
  border: 0.1rem solid rgb(251, 236, 97);
}
.axios:hover {
  background: rgba(228, 251, 97, 0.25);
}

.styled-components {
  border: 0.1rem solid rgb(120, 97, 251);
}
.styled-components:hover {
  background: rgba(112, 97, 251, 0.25);
}

.jwt {
  border: 0.1rem solid rgb(143, 97, 251);
}
.jwt:hover {
  background: rgba(135, 97, 251, 0.25);
}

.express {
  border: 0.1rem solid rgb(251, 215, 97);
}
.express:hover {
  background: rgba(251, 246, 97, 0.25);
}

.sequelize {
  border: 0.1rem solid rgb(230, 97, 251);
}
.sequelize:hover {
  background: rgba(230, 97, 251, 0.25);
}

.node {
  border: 0.1rem solid rgb(131, 205, 41);
}
.node:hover {
  background: rgba(131, 205, 41, 0.25);
}

.mongodb {
  border: 0.1rem solid rgb(67, 153, 52);
}
.mongodb:hover {
  background: rgba(67, 153, 52, 0.25);
}

.redux {
  border: 0.1rem solid rgb(118, 74, 188);
}
.redux:hover {
  background: rgba(118, 74, 188, 0.25);
}

.mysql {
  border: 0.1rem solid rgb(82, 143, 240);
}
.mysql:hover {
  background: rgba(82, 143, 240, 0.25);
}

.context-api {
  border: 0.1rem solid rgb(25, 118, 210);
}
.context-api:hover {
  background: rgba(25, 118, 210, 0.25);
}

.hooks {
  border: 0.1rem solid rgb(0, 209, 178);
}
.hooks:hover {
  background: rgb(0, 209, 178, 0.25);
}

.next {
  border: 2px solid rgb(229, 234, 239);
}
.next:hover {
  background: rgba(210, 213, 216, 0.25);
}

.typescript {
  border: 2px solid rgb(6, 182, 212);
}
.typescript:hover {
  background: rgba(6, 182, 212, 0.25);
}

.sass{
  border: 2px solid rgb(255, 65, 84);
}
.sass:hover {
  background: rgba(255, 65, 84, 0.25);
}

.prismic-cms {
  border: 2px solid rgb(182, 50, 21);
}
.prismic-cms:hover {
  background: rgba(182, 50, 21, 0.25);
}
