@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

/* Tags */
.react {
  border: 0.1rem solid rgb(97, 218, 251);
}
.react:hover {
  background: rgba(97, 218, 251, 0.219);
}

.joi {
  border: 0.1rem solid rgb(21, 55, 226);
}
.joi:hover {
  background: rgba(28, 61, 222, 0.25);
}

.firebase { 
  border: 0.1rem solid rgb(22, 120, 129);}
.firebase:hover { 
  background:  rgba(22, 120, 129, 0.386);}

.sinon {
  border: 0.1rem solid rgb(171, 251, 97);
}
.sinon:hover {
  background: rgba(141, 251, 97, 0.25);
}


.chai {
  border: 0.1rem solid rgb(118, 106, 71);
}
.chai:hover {
  background: rgba(127, 129, 90, 0.25);
}

.mocha {
  border: 0.1rem solid rgb(75, 66, 40);
}
.mocha:hover {
  background: rgba(94, 95, 65, 0.25);
}

.docker {
  border: 0.1rem solid rgb(50, 53, 216);
}
.docker:hover {
  background: rgba(16, 26, 53, 0.25);
}

.jquery {
  border: 0.1rem solid rgb(97, 218, 251);
}
.jquery:hover {
  background: rgba(97, 218, 251, 0.25);
}

.php {
  border: 0.1rem solid rgb(78, 165, 190);
}
.php:hover {
  background: rgba(72, 155, 177, 0.25);
}

.wordpress {
  border: 0.1rem solid rgb(6, 73, 92);
}
.wordpress:hover {
  background: rgba(4, 74, 94, 0.25);
}

.css {
  border: 0.1rem solid rgb(231, 82, 23);
}
.css:hover {
  background: rgba(173, 90, 11, 0.25);
}

.html {
  border: 0.1rem solid rgb(10, 156, 196);
}
.html:hover {
  background: rgba(3, 132, 167, 0.25);
}


.javascript {
  border: 0.1rem solid rgb(251, 230, 97);
}
.javascript:hover {
  background: rgba(251, 223, 97, 0.25);
}


.rtl {
  border: 0.1rem solid rgb(251, 120, 97);
}
.rtl:hover {
  background: rgba(251, 107, 97, 0.25);
}

.jest {
  border: 0.1rem solid rgb(251, 97, 97);
}
.jest:hover {
  background: rgba(251, 107, 97, 0.25);
}

.axios {
  border: 0.1rem solid rgb(251, 236, 97);
}
.axios:hover {
  background: rgba(228, 251, 97, 0.25);
}

.styled-components {
  border: 0.1rem solid rgb(120, 97, 251);
}
.styled-components:hover {
  background: rgba(112, 97, 251, 0.25);
}

.jwt {
  border: 0.1rem solid rgb(143, 97, 251);
}
.jwt:hover {
  background: rgba(135, 97, 251, 0.25);
}

.express {
  border: 0.1rem solid rgb(251, 215, 97);
}
.express:hover {
  background: rgba(251, 246, 97, 0.25);
}

.sequelize {
  border: 0.1rem solid rgb(230, 97, 251);
}
.sequelize:hover {
  background: rgba(230, 97, 251, 0.25);
}

.node {
  border: 0.1rem solid rgb(131, 205, 41);
}
.node:hover {
  background: rgba(131, 205, 41, 0.25);
}

.mongodb {
  border: 0.1rem solid rgb(67, 153, 52);
}
.mongodb:hover {
  background: rgba(67, 153, 52, 0.25);
}

.redux {
  border: 0.1rem solid rgb(118, 74, 188);
}
.redux:hover {
  background: rgba(118, 74, 188, 0.25);
}

.mysql {
  border: 0.1rem solid rgb(82, 143, 240);
}
.mysql:hover {
  background: rgba(82, 143, 240, 0.25);
}

.context-api {
  border: 0.1rem solid rgb(25, 118, 210);
}
.context-api:hover {
  background: rgba(25, 118, 210, 0.25);
}

.hooks {
  border: 0.1rem solid rgb(0, 209, 178);
}
.hooks:hover {
  background: rgb(0, 209, 178, 0.25);
}

.next {
  border: 2px solid rgb(229, 234, 239);
}
.next:hover {
  background: rgba(210, 213, 216, 0.25);
}

.typescript {
  border: 2px solid rgb(6, 182, 212);
}
.typescript:hover {
  background: rgba(6, 182, 212, 0.25);
}

.sass{
  border: 2px solid rgb(255, 65, 84);
}
.sass:hover {
  background: rgba(255, 65, 84, 0.25);
}

.prismic-cms {
  border: 2px solid rgb(182, 50, 21);
}
.prismic-cms:hover {
  background: rgba(182, 50, 21, 0.25);
}
