@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&display=swap');

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  background: var(--main-bg);
  overflow-x: hidden;
  min-height: 0;
}

.editorContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.editorWithTerminal {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.content {
  padding: 2rem;
  color: var(--text-color);
  font-family: 'JetBrains Mono', monospace;
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.content {
  scrollbar-width: 10px;
  scrollbar-color: var(--accent-color);
}

.content::-webkit-scrollbar {
  width: 15px;
}

.content::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
  border-left: 1px solid #1e1f29;
}

.content::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-left: 1px solid #1e1f29;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 2rem 1rem;
  }
}
