/* GitHub Dark */
:root {
  --main-bg: #24292e;
  --text-color: #efefef;
  --accent-color: #f9826c;
  --titlebar-bg: #1f2428;
  --sidebar-bg: #24292e;
  --sidebar-hover-bg: #1f2428;
  --explorer-bg: #1f2428;
  --explorer-hover-bg: #24292e;
  --tabs-bg: #1f2428;
  --tab-bg: #1f2428;
  --tab-active-bg: #24292e;
  --bottombar-bg: #24292e;
  --button-bg: #176f2c;
  --button-text: #dcffe4;
  --bottombar-hover-bg: #4f4f52;
  --scrollbar-track-bg: #24292e;
  --scrollbar-thumb-bg: #333536;
}

/* Dracula */
[data-theme='dracula'] {
  --main-bg: #282a36;
  --text-color: #efefef;
  --accent-color: #bd93f9;
  --titlebar-bg: #1e1f29;
  --sidebar-bg: #343746;
  --sidebar-hover-bg: #3c3d51;
  --explorer-bg: #21222c;
  --explorer-hover-bg: #313241;
  --tabs-bg: #191a21;
  --tab-bg: #21222c;
  --tab-active-bg: #282a36;
  --bottombar-bg: #191a21;
  --button-bg: #44475a;
  --button-text: #f8f8f2;
  --bottombar-hover-bg: #4f4f52;
  --scrollbar-track-bg: #282a36;
  --scrollbar-thumb-bg: #454647;
}

/* Ayu Dark */
[data-theme='ayu-dark'] {
  --main-bg: #0a0e14;
  --text-color: #efefef;
  --accent-color: #e6b450;
  --titlebar-bg: #1f2428;
  --sidebar-bg: #0a0e14;
  --sidebar-hover-bg: #00010a;
  --explorer-bg: #0a0e14;
  --explorer-hover-bg: #00010a;
  --tabs-bg: #0a0e14;
  --tab-bg: #0a0e14;
  --tab-active-bg: #0a0e14;
  --bottombar-bg: #0a0e14;
  --button-bg: #e6b450;
  --button-text: #0a0e14;
  --bottombar-hover-bg: #4f4f52;
  --scrollbar-track-bg: #0a0e14;
  --scrollbar-thumb-bg: #454647;
}

/* Ayu Dark */
[data-theme='ayu-mirage'] {
  --main-bg: #1f2430;
  --text-color: #efefef;
  --accent-color: #e6b450;
  --titlebar-bg: #1f2428;
  --sidebar-bg: #1f2430;
  --sidebar-hover-bg: #191e2a;
  --explorer-bg: #1f2430;
  --explorer-hover-bg: #191e2a;
  --tabs-bg: #1f2430;
  --tab-bg: #1f2430;
  --tab-active-bg: #1f2430;
  --bottombar-bg: #1f2430;
  --button-bg: #e6b450;
  --button-text: #1f2430;
  --bottombar-hover-bg: #4f4f52;
  --scrollbar-track-bg: #1f2430;
  --scrollbar-thumb-bg: #454647;
}
